body {
    background: linear-gradient(90deg, #1d5f10, #123004 );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 21px;
    min-width: 600px;
}
mark {
    background: #25a30c;
    color: whitesmoke;
}
dt, dl {
    font-size: 25px;
    text-decoration: underline;
}
h3 {
    font-size: 30px;
    text-align: center;
}
.image {
    height: 400px; 
    width: 500px;
}

@media screen and (max-width: 507px) {
    body {
        min-width: 200px;
        font-size: 15px;
        background: linear-gradient(90deg, #255e79, #6595b1 );
    }
    .image {
        width: 250px;
        height: 150px;
    }
    mark {
        background-color: #8abfd1;
    }
    dt, dl {
        font-size: 20px;
    }   
    h3 {
        font-size: 25px;
    }
}