body {
    background: linear-gradient(to bottom right, #1d5f10, #123004 );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-weight: 100;
}
img {
    width: 520px;
    height: 300px;
}
figcaption {
    font-size: 15px;
}
