body {
    background: linear-gradient(to bottom right, #1d5f10, #123004 );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   font-size: 22px;
    min-width: 500px; 
}
ul li {
    margin: 10px;
}
@media screen and (max-width: 769px) {
    body {
        background-image: radial-gradient(red, blue);
        font-size: 15px;
        color: yellow;
         min-width: 300px;
    }
    ul li {
        margin: none;
    }
    
}
