body {
    background: linear-gradient(to bottom right, #1d5f10, #123004 );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 25px;
}
dt, dl {
    font-size: 30px;
    text-transform: capitalize;
}
ul li {
    margin-bottom: 10px;
}