body {
    background: linear-gradient(to bottom right, #1d5f10, #123004 );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 25px;
}
ul li {
    margin: 10px;
}
