body {
    background: linear-gradient(to bottom right, #1d5f10, #123004 );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-transform: capitalize;
   font-size: 22px;
   height: 100vh;
}
mark {
    background: #25a30c;
    color: whitesmoke;
} 